<% order__return_request_contents     = Spree::PageContent.from_gen_slug('order-return') %>
<% order_return_request_heading = order__return_request_contents.spec_slug('order-return-request-heading').last%>
<%#= order_return_request_heading.try(:title) %>
<% content_for :head do %>
  <%= javascript_include_tag 'spree/return_authorization' %>
<% end %>

<fieldset><h3><%= order_return_request_heading.try(:title) %> <%=@order.number%></h3></fieldset>
<div>
  <%= order_return_request_heading.try(:description) %>
</div>
<div>
  Order Number <%=@order.number%>
</div>
<div>
  Purchased On <%=@order.created_at.strftime("%e/%m/%Y")%>
</div>
<div>
  Total Items <%=@order.line_items.count%>
</div>

<%= form_for [@order, @return_authorization] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <div class="form-actions" data-hook="buttons" class="<%= all_item_returned? %>">
      <%= button Spree.t(:create), 'save' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), spree.edit_account_path, icon: 'delete' %>
    </div>
  </fieldset>
<% end %>
