<% content_for :head do %>
  <%= javascript_include_tag 'spree/return_authorization' %>
<% end %>

<fieldset><h3><%= Spree.t(:return_request_for_order, scope: :return_authorizations_view) %> <%=@order.number%></h3></fieldset>
<div>
  Order Number <%=@order.number%>
</div>
<div>
  Purchased On <%=@order.created_at.strftime("%e/%m/%Y")%>
</div>
<div>
  Total Items <%=@order.line_items.count%>
</div>

<%= form_for [@order, @return_authorization] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <div class="form-actions" data-hook="buttons" class="<%= all_item_returned? %>">
      <%= button Spree.t(:create), 'save' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), spree.edit_account_path, icon: 'delete' %>
    </div>
  </fieldset>
<% end %>
